html,
body {
  background-color: #ffe4c2;
  max-width: 100%;
  overflow-x: hidden;
}

/* Start Animation */
@keyframes starta {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

h1,
.first a,
.col {
  animation: starta 3s;
}

/* #region MAIN HEADER */
.first {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-top: 15vh;
  height: 70vh;
  background-image: url("../../Assets/BG.PNG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  box-shadow: 10px 10px 50px rgba(173, 171, 171, 0.397);
}

.first h1 {
  padding-top: 13%;
  font-size: 72px;
  margin-bottom: 3%;
}

.first a {
  font-size: 20px;
  transition: 0.4s;
  text-decoration: none;
  color: white;
  border: white solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.first a:hover {
  background-color: white;
  color: #cbe8da;
  transition: 0.4s;
}
/* #endregion */

/* #region ABOUT CAPTAINS SECTION */
.captains {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}

.row {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-basis: 44%;
  margin-bottom: 7%;
  padding: 20px;
  transition: 0.3s;
  text-align: left;
  line-height: 26px;
}

.col h3 {
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 2%;
}

.col img {
  height: 150px;
  width: 150px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.captains h1 {
  font-size: 32px;
  margin-bottom: 5%;
  margin-top: 2%;
}
/* #endregion */

/* #region ABOUT SECTION DESIGN */
.about {
  width: 78%;
  margin: auto;
  text-align: center;
  /* padding-top: 100px; */
}

.about a {
  font-size: 15px;
  transition: 0.4s;
  text-decoration: none;
  color: white;
  border: white solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.about a:hover {
  background-color: white;
  color: #cbe8da;
  transition: 0.4s;
}

.about h1 {
  font-size: 30px;
  margin-bottom: 7%;
}

.about p {
  font-size: 17px;
  font-weight: 250;
  line-height: 22px;
  /* padding: 10px; */
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col2 {
  flex-basis: 37%;
  border-radius: 10px;
  margin-bottom: 8%;
  /* padding: 20px 02px; */
  padding-bottom: 3%;
  transition: 0.3s;
  background: #ffbd70;
}

.col2:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.col2 h3 {
  text-align: center;
  font-size: 19px;
  margin: 20px 0px;
}

.col2 p {
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
}

.eventimg img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 700px) {
  .about h3 {
    font-size: 17px;
  }

  .about p {
    font-size: 13px;
    margin-bottom: 0%;
  }

  .row {
    flex-direction: column;
    padding-bottom: 100px;
  }
}

/* #endregion */

/* #region GO TO FORM PAGE DESIGN */
.form {
  margin: auto;
  margin-top: 5%;
  width: 79%;
  box-shadow: 10px 10px 50px rgba(182, 182, 182, 0.363);
  background-image: url("../../Assets/SimilarToBG.PNG");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.form h1 {
  font-size: 52px;
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

.form a {
  font-size: 18px;
  transition: 0.4s;
  text-decoration: none;
  color: white;
  border: white solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.form a:hover {
  background-color: white;
  color: #cbe8da;
  transition: 0.4s;
}

@media (max-width: 700px) {
  .form {
    padding: 50px 0;
  }

  .form h1 {
    font-size: 24px;
  }

  .form a {
    font-size: 13px;
  }
}
/* #endregion */

/* Ipad */
@media (max-width: 1400px) {
  .first h1 {
    margin-left: 19px;
    margin-right: 19px;
    padding-top: 22vh;
    padding-bottom: 20px;
  }

  .captains {
    padding-top: 50px;
  }

  .captains h1 {
    padding-top: 10%;
    font-size: 53px;
    padding-bottom: 10%;
  }

  .col {
    padding-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .col h3 {
    line-height: 30px;
    font-size: 29px;
  }

  .col p {
    font-size: 20px;
    line-height: 25px;
  }

  .col img {
    height: 95px;
    margin-right: 30px;
    width: 95px;
  }

  .second {
    padding: 40px 0;
    margin-top: 0px;
    margin-bottom: 1px;
  }

  .row,
  .content {
    flex-direction: column;
  }

  .contentcol h3 {
    font-size: 27px;
  }

  .contentcol p {
    font-size: 19px;
    margin-bottom: 4%;
  }

  #section2 h1 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .row {
    padding-bottom: 40px;
  }

  #section4 {
    margin-top: 90px;
  }

  .captains {
    padding-bottom: 0;
  }

  .about h1 {
    font-size: 53px;
    margin-bottom: 50px;
  }

  .about h3 {
    font-size: 33px;
  }

  .about p {
    font-size: 25px;
    line-height: 27px;
  }

  .col2 {
    padding-bottom: 24px;
  }

  .col2 a {
    font-size: 23px;
  }
}

/* Phone */
@media (max-width: 700px) {
  .first h1 {
    font-size: 34px;
    margin-left: 19px;
    margin-right: 19px;
    padding-top: 120px;
    padding-bottom: 20px;
  }

  .first a {
    font-size: 12px;
    padding: 9px 20px;
  }

  .captains {
    padding-top: 50px;
  }

  .captains h1 {
    padding-top: 10%;
    font-size: 23px;
    padding-bottom: 10%;
  }

  .col {
    padding-bottom: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  .col h3 {
    line-height: 20px;
    font-size: 18px;
  }

  .col p {
    font-size: 10px;
    line-height: 15px;
  }

  .col2 {
    padding-bottom: 0px;
    padding-right: 0;
    padding-left: 0;
  }

  .col2 h3 {
    line-height: 20px;
    font-size: 18px;
  }

  .col2 p {
    font-size: 10px;
    line-height: 15px;
  }

  .col img {
    height: 75px;
    margin-right: 20px;
    width: 75px;
  }

  .second {
    padding: 40px 0;
    margin-top: 0px;
    margin-bottom: 1px;
  }

  .second h1 {
    font-size: 28px;
  }

  .second a {
    font-size: 13px;
  }

  .row,
  .content {
    flex-direction: column;
  }

  #section2 h1 {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .row {
    padding-bottom: 40px;
  }

  #section4 {
    margin-top: 90px;
  }

  .captains {
    padding-bottom: 0;
  }

  .about h1 {
    font-size: 23px;
    margin-bottom: 50px;
  }

  .col2 {
    padding-bottom: 24px;
  }

  .col2 a {
    font-size: 13px;
  }
}
