html,
body {
  background-color: #ffe4c2;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes starta {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

h1,
.first a,
.col {
  animation: starta 3s;
}

/* #region MAIN HEADER */
.first {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-top: 15vh;
  height: 70vh;
  background-image: url("../../Assets/BG.PNG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  box-shadow: 10px 10px 50px rgba(173, 171, 171, 0.397);
}

.first h1 {
  padding-top: 13%;
  font-size: 72px;
  margin-bottom: 3%;
}

.first a {
  font-size: 20px;
  transition: 0.4s;
  text-decoration: none;
  color: white;
  border: white solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.first a:hover {
  background-color: white;
  color: #cbe8da;
  transition: 0.4s;
}
/* #endregion */

/* #region ABOUT CAPTAINS SECTION */
.captains {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 90px;
  text-align: center;
}

.row {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-basis: 44%;
  margin-bottom: 7%;
  padding: 20px;
  transition: 0.3s;
  text-align: left;
  line-height: 26px;
}

.col h3 {
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 2%;
}

.col img {
  height: 150px;
  width: 150px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.captains h1 {
  font-size: 32px;
  margin-bottom: 5%;
}
/* #endregion */

@media (max-width: 700px) {
  .first h1 {
    font-size: 34px;
    margin-left: 19px;
    margin-right: 19px;
    padding-top: 120px;
    padding-bottom: 20px;
  }

  .first a {
    font-size: 12px;
    padding: 9px 20px;
  }

  .captains {
    padding-top: 50px;
  }

  .col {
    padding-bottom: 25px;
    padding-right: 0;
    padding-left: 0;
  }

  .col h3 {
    line-height: 20px;
    font-size: 18px;
  }

  .col p {
    font-size: 10px;
    line-height: 15px;
  }

  .col img {
    height: 75px;
    margin-right: 20px;
    width: 75px;
  }

  .second {
    padding: 40px 0;
    margin-top: 0px;
    margin-bottom: 1px;
  }

  .second h1 {
    font-size: 28px;
  }

  .second a {
    font-size: 13px;
  }

  .row,
  .content {
    flex-direction: column;
  }

  .contentcol h3 {
    font-size: 17px;
  }

  .contentcol p {
    font-size: 13px;
    margin-bottom: 4%;
  }

  #section2 h1 {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  #section4 {
    margin-top: 90px;
  }
}
