html,
body {
  background-color: #ff6e0d;
  max-width: 100%;
  overflow-x: hidden;
}

/* Start Animation */
@keyframes starta {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* #region House images */
.start {
  min-height: 100vh;
}

.text {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

.text h1 {
  font-weight: 700;
  font-size: 50px;
  padding-bottom: 10px;
}

.text h3 {
  font-weight: 200;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.first {
  width: 100vw;
  min-height: 50vh;
  background-image: url("../../Assets/OrangeBG.PNG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.first h1 {
  font-size: 56px;
  padding-top: 18vh;
}

.row {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  justify-content: space-between;
}

.row2,
.row3 {
  display: flex;
  padding-top: 100px;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.col {
  background: url(../../Assets/bgforhousespage.png);
  background-attachment: fixed;
  /* background-size: cover; */
  flex-basis: 22%;
  min-height: 45vh;
  box-shadow: 0px 0px 50px rgba(34, 34, 34, 0);
  border-radius: 10px;
  margin-bottom: 8%;
  position: relative;
  overflow: hidden;
}

.layer {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.layer h3 {
  width: 100%;
  font-weight: 600;
  color: white;
  font-size: 26px;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  transition: 0.3s;
}

.layer:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}

.layer:hover h3 {
  bottom: 17%;
  transition: 0.3s;
}

.col a {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 35vh;
}

.col h1 {
  text-align: center;
}
/* #endregion */

/* #region Inidvidual House Section */
.house {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding-top: 0px;
  text-align: center;
}

.house h1 {
  font-size: 35px;
  margin-bottom: 3%;
}

.house .first h1 {
  font-size: 72px;
  padding-top: 9vw;
}

.col2 {
  display: flex;
  flex-basis: 54%;
  margin-bottom: 7%;
  padding: 20px;
  transition: 0.3s;
  text-align: left;
  line-height: 26px;
}

.col2 h3 {
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 2%;
}

.col2 img {
  height: 150px;
  width: 150px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.abouthouse {
  width: 80vw;
  background: #ffb45e;
  box-shadow: 0 0 50px 0 rgba(131, 131, 131, 0.1);
  min-height: 40vh;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 120px;
  text-align: center;
}

.abouthouse .godname {
  float: left;
  width: 40%;
  height: 40vh;
  padding-top: 15vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
    url(../../Assets/BG.PNG);
  background-size: cover;
  border-radius: 10px 0 0 10px;
  background-attachment: fixed;
}

.abouthouse .aboutgod {
  float: right;
  width: 60%;
  height: 40vh;
}

.aboutgod p {
  font-size: 25px;
  margin: 5vh;
}

/* .abouthouse h1 {
  font-size: 40px;
  padding-left: 10%;
  padding-top: 10%;
}

.abouthouse p {
  font-size: 25px;
  padding-left: 30%;
  padding-right: 10%;
} */

/* #endregion */

/* Ipad */
@media (max-width: 1400px) {
  .first {
    height: 400px;
  }

  .row {
    flex-direction: row;
  }

  .house .first h1 {
    font-size: 59px;
    margin-top: 20%;
    padding-top: 150px;
  }

  .row2 {
    flex-direction: column;
    padding-bottom: 100px;
    padding-top: 130px;
  }

  .col2 {
    padding-bottom: 30px;
    padding-right: 0;
    padding-left: 0;
  }

  .col2 h3 {
    line-height: 28px;
    font-size: 29px;
  }

  .col2 p {
    font-size: 20px;
    line-height: 25px;
  }

  .col2 img {
    height: 95px;
    margin-right: 30px;
    width: 95px;
  }

  .form {
    padding: 40px 0;
    margin-bottom: 1px;
  }

  .form h1 {
    font-size: 28px;
  }

  .form a {
    font-size: 13px;
  }

  .abouthouse .aboutgod p {
    font-size: 19px;
    margin: 6.5vh;
  }
}

/* Phone */
@media (max-width: 800px) {
  .first {
    height: 40vh;
  }

  .row {
    flex-direction: column;
  }

  .house .first h1 {
    font-size: 38px;
    padding-top: 25%;
  }

  .text h1 {
    font-size: 30px;
    padding-top: 20px;
  }

  .text h3 {
    font-size: 15px;
  }

  /* #region captain profile */
  .col2 {
    padding-bottom: 25px;
    padding-right: 0;
    padding-left: 0;
  }

  .col2 h3 {
    line-height: 20px;
    font-size: 18px;
  }

  .col2 p {
    font-size: 10px;
    line-height: 15px;
  }

  .col2 img {
    height: 75px;
    margin-right: 20px;
    width: 75px;
  }
  /* #endregion */
  .form {
    padding: 40px 0;
    margin-bottom: 1px;
  }

  .form h1 {
    font-size: 28px;
  }

  .form a {
    font-size: 13px;
  }

  .row2 {
    padding-bottom: 50px;
    padding-top: 50px;
    flex-direction: column;
  }

  .Houses h1 {
    font-size: 28px;
  }

  .Houses p {
    font-size: 13px;
    margin-bottom: 4%;
  }

  .abouthouse {
    height: 70vh;
  }

  .abouthouse .godname {
    height: 20.5vh;
    width: 100%;
    padding-top: 8vh;
    border-radius: 10px 10px 0 0;
  }

  .abouthouse .godname h1 {
    font-size: 25px;
  }

  .abouthouse .aboutgod {
    float: none;
    width: 100%;
  }

  .abouthouse .aboutgod p {
    font-size: 2.7vh;
    padding-top: 22vh;
    margin: 9%;
  }
}
