* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: #ffe4c2;
}

/* Start Animation */
@keyframes starta {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* #region Main Section */
.form {
  animation: starta 2s;
}

.form {
  margin: auto;
  width: 85%;
  position: absolute;
  top: 25%;
  left: 7.5%;
  background: url(../../Assets/SimilarToBG.PNG);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  box-shadow: 10px 10px 50px rgba(160, 160, 160, 0.384);
}

.form h1 {
  font-size: 52px;
  color: white;
  margin-bottom: 1%;
}

.form h2 {
  font-size: 22px;
  color: white;
  font-weight: lighter;
  margin-bottom: 40px;
}

.form a {
  font-size: 18px;
  transition: 0.4s;
  text-decoration: none;
  color: white;
  border: white solid 1px;
  padding: 9px 20px;
  border-radius: 22px;
}

.form a:hover {
  background-color: white;
  color: #cbe8da;
  transition: 0.4s;
}
/* #endregion */

@media (max-width: 700px) {
  .form {
    top: 18vh;
  }

  .form h1 {
    font-size: 28px;
  }

  .form h2 {
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
  }

  .form a {
    font-size: 13px;
  }
}
